<div class="card">
  <div class="card-block">
    <h4 class="card-title">Minimal Example: Using FormControl</h4>
    <h6 class="card-subtitle mb-2 text-muted">The model-driven (reactive) way</h6>
    <p class="card-text">The same can be achieved using <code>FormControl</code> and <code>NgForm</code>. Don't forget to import <code>ReactiveFormsModule</code>.</p>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" (click)='switchView("table")'>
        <a class="nav-link" [ngClass]='{active: view === "table"}'>Example</a>
      </li>
      <li class="nav-item" (click)='switchView("html")'>
        <a class="nav-link" [ngClass]='{active: view === "html"}'>HTML</a>
      </li>
      <li class="nav-item" (click)='switchView("ts")'>
        <a class="nav-link" [ngClass]='{active: view === "ts"}'>TS</a>
      </li>
      <li class="nav-item" (click)='switchView("css")'>
        <a class="nav-link" [ngClass]='{active: view === "css"}'>CSS</a>
      </li>
    </ul>
  </div>
  <div class="card-block" *ngIf="view === 'table'">
    <table tableEditor class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Family</th>
          <th>Age</th>
          <th>Company</th>
          <th>Birthday</th>
        </tr>
      </thead>
      <tbody>
        <tr teRow *ngFor='let row of rows' [formGroup]="row">
          <td teCell formControlName=givenName>
            <ng-container teAnchor></ng-container>
          </td>
          <td teCell formControlName=familyName>
            <ng-container teAnchor></ng-container>
          </td>
          <td teCell formControlName=age>
            <ng-container teAnchor></ng-container>
          </td>
          <td teCell formControlName=company>
            <ng-container teAnchor></ng-container>
          </td>
          <td teCell formControlName=birthday>
            <ng-container teAnchor></ng-container>
          </td>
        </tr>
      </tbody>
    </table>
    <p>Changes in the first row are highlighted here:
      <markdown [data]="viewJson | language : 'json'"></markdown>
    </p>

  </div>
  <div class="card-block" *ngIf="view === 'html'">
    <markdown [data]="viewHtml| language : 'markup'"></markdown>
    <p>Note! Do not forget to put the <code>NgContainer</code> element with the <code>teAnchor</code> directive inside the table
      cell: <markdown [data]="htmlNote | language : 'markup'"></markdown>
    </p>
  </div>
  <div class="card-block" *ngIf="view === 'ts'">
    <markdown [data]="viewTs | language : 'typescript'"></markdown>
  </div>
  <div class="card-block" *ngIf="view === 'css'">
    The input elements are positioned by some javascript code, <a href="/ngx-table-editor/documentation">see the API docs</a>. This requires the table to be positioned relative, and the inputs to be positioned absolute.
    <markdown [data]="viewCss | language : 'scss'"></markdown>
  </div>
</div>