<div class="jumbotron">
  <h1>ngx-table-editor</h1>
  <p class="lead"> A library that transforms dorky static HTML tables into cool dynamic editable components. Tested with Angular 6.1.</p>
</div>
<div class="jumbotron">
  <h1>Getting started</h1>
  <br>
  <p class="lead">1. Install the library.</p>
  <markdown ngPreserveWhitespaces>
    ```console
    npm install --save-dev '@ngx-table-editor/core'
    ```
  </markdown>
  <br>
  <p class="lead">2. Import the library in your module.</p>
  <markdown [data]="gettingStartedImport | language : 'typescript'"></markdown>
  <br>
  <p class="lead">3. Transform some dull HTML tables.</p>
  <p>See <a href='https://maurei.github.io/ngx-table-editor/demo/#/examples/basic'>the examples</a> or read the <a href='https://maurei.github.io/ngx-table-editor/documentation/'>API docs</a></p>
  <br>
  <p class="lead">4. Optional: Consider to install the extras module and import from it whatever you want to use.</p>
  <markdown ngPreserveWhitespaces>
    ```console 
    npm install --save-dev '@ngx-table-editor/extras'
    ```
  </markdown>
  For example, you can use the <code>TypeaheadModule</code>:
  <markdown [data]="gettingStartedExtrasImport | language : 'typescript'"></markdown>

</div>